<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FileDrop Contact</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/FileDrop-favicon.png') }}"  type="image/x-icon">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="shell">
        <h1>Contact Us</h1>
        <p>If you have any questions, feel free to reach out to us!</p>
        <div class="hero">
            <img src="{{ url_for('static',filename='images/og-image.png')}}" alt="Brand Logo" class="hero-image">
            <hr>
            <div class="card contactForm" style="margin: 5px;">
            
            <form action="/contact" method="POST">
                <div class="form-group">
                    <label for="name">Name</label>
                    <input class="input" type="text" id="codeInput" placeholder="Your name here" name="name" required>
                </div>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input class="input" type="email" id="email" placeholder="Your email goes here" name="email" required>
                </div>
                <div class="form-group">
                    <label for="message">Message</label>
                    <textarea class="input" id="message" name="message" rows="5" placeholder="Your message to Us..." required></textarea>
                </div>
                <button type="submit" class="btn btn-primary">Send Message</button>
            </form>
            {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                        {% for category, message in messages %}
                            <div class="flash {{ category }}">{{ message }}</div>
                        {% endfor %}
                    {% endif %}
                {% endwith %}
            </div>
        </div>
    </div>
    <div id="home-button"><a href="{{ url_for('index') }}">✦ Home</a></div>
</body>
</html>